[submodule "alura-plus"]
	path = alura-plus
	url = https://github.com/danilo-batista/alura-plus
[submodule "alura-books"]
	path = alura-books
	url = https://github.com/danilo-batista/alura-books
[submodule "luz-e-cena"]
	path = luz-e-cena
	url = https://github.com/danilo-batista/luz-e-cena
[submodule "useDev"]
	path = useDev
	url = https://github.com/danilo-batista/useDev
